body{
    text-align: center;
}
#cl iframe{
    margin-top: 55px;
}
#cl{
    background-color: burlywood;
    text-align: center;
    width: 100%;
}
#c{
    background-color: aquamarine;
    text-align: center;
    width: 100%;
}
.my_nav_bar{
    position: sticky;
    top: 0;
    z-index: 99999
}
input{
    background: grey;
}
#c iframe{
    width: 100%;
}
#cl iframe
{
    width: 100%;
}