body{
    text-align: center;
   background-color: black;
}
#cl iframe{
    margin-top: 55px;
}
#cl{
    background-color: burlywood;
    text-align: center;
    width: 100%;
}
#c{
    background-color: aquamarine;
    text-align: center;
    width: 100%;
}
.my_nav_bar{
    position: sticky;
    top: 0;
    z-index: 99999
}
input{
    background: grey;
}
#c iframe{
    width: 100%;
}
#cl iframe
{
    width: 100%;
}
.contact_2 span{
    color: white;
}
#school_achievement1 img{
    width: 250px;
}
school_achievement1{
    font-size: 25px;
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color:blue;   
}
.page-header h2{
    color: white;
}
..movie_head p{
    color: white;
}
.modal-content{
    margin-top: 100px;
}
.img_modal{
    display: inline-block;
}
.p_modal{
    margin-top: 10px;